nav{
  background-color: #212121;
}
nav  .navbar-brand a{
  color: white;
}
nav a{
 text-decoration: none;
 color: white;
}
nav a:hover{
  color: #59C3C3;
  text-decoration: none;
}
.jumbotron{
  background-color:#e0ebe8 !important;
  margin-bottom: 5px !important;
}
.btn{
  background-color: #59C3C3 !important;
}
.btn:hover{
  background-color: #78CECE !important;
}
.proj{
  margin-top: 100px;
  margin-bottom 0px !important;
  background-color:#e0ebe8
}
.m-left{
  margin-left: 5px;
}

.work{
  margin-top: 0px;
  background: #86D3D3;
  min-height: 50vh;
  padding-top: 7vh;
  padding-bottom: 15vh;
  text-align: center;
}
.circ{
  display: inline-block;
  margin-left: 45px;
  margin-right: 45px;
  list-type: none;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color:  #e0ebe8;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 20px;
  line-height: 130px;
}
.circ:hover{
  background: #FBFBFB;
  color: #59C3C3;
  text-decoration: none;
}

footer{
 height: 35px;
 background-color:#e0ebe8
}
.p1{
  font-size: 16px;
}

{
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  height: 200px;
  margin-top: 10px;
}

.left {
  overflow-x:auto;
  width: 50%;
  padding-left: 200px;
  background-color:#e0ebe8;
}

.right {
  width: 50%;
  padding-left: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img{
  height: 170px;
  width: 170px;
  border-radius: 50%;
}
.img2{
  height: 190px;
  width: 200px;
  border-radius: 50%;
}
.margin{
  margin-right: 30px;
  align: center;
}
